* {
    margin: 0;
    padding: 0;
    color: white;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

:root {
    --margin-size: 3px;
}

.mb {
    margin-bottom: var(--margin-size);
}

.mr {
    margin-right: var(--margin-size);
}

.header {
    background-color: #52a7f8;
    height: 10vh;
    display: flex;
    align-items: center;
}

.header p {
    padding: 15px;
}

.row {
    width: 75%;
    margin: auto;
    display: flex;
    height: 40vh;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.maincontent {
    background-color: #6fc040;
    width: 75%;
}

.sidebar {
    background-color: #b46ae3;
    width: 25%;
}

.twin {
    background-color: #f39019;
    width: 50%;
}

.footer {
    background-color: #0564c2;
    height: 10vh;
    display: flex;
    align-items: center;
}

.footer p{
    padding: 15px;
} 